@keyframes ldio-z9cy8631gyp {
    0% {
      opacity: 1;
      backface-visibility: hidden;
      transform: translateZ(0) scale(1.5,1.5);
    } 100% {
      opacity: 0;
      backface-visibility: hidden;
      transform: translateZ(0) scale(1,1);
    }
  }
  .ldio-z9cy8631gyp div > div {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #5f2a62;
    animation: ldio-z9cy8631gyp 1.6949152542372883s linear infinite;
  }.ldio-z9cy8631gyp div:nth-child(1) > div {
    left: 74px;
    top: 44px;
    animation-delay: -1.4830508474576272s;
  }
  .ldio-z9cy8631gyp > div:nth-child(1) {
    transform: rotate(0deg);
    transform-origin: 80px 50px;
  }.ldio-z9cy8631gyp div:nth-child(2) > div {
    left: 65px;
    top: 65px;
    animation-delay: -1.2711864406779663s;
  }
  .ldio-z9cy8631gyp > div:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: 71px 71px;
  }.ldio-z9cy8631gyp div:nth-child(3) > div {
    left: 44px;
    top: 74px;
    animation-delay: -1.0593220338983051s;
  }
  .ldio-z9cy8631gyp > div:nth-child(3) {
    transform: rotate(90deg);
    transform-origin: 50px 80px;
  }.ldio-z9cy8631gyp div:nth-child(4) > div {
    left: 23px;
    top: 65px;
    animation-delay: -0.8474576271186441s;
  }
  .ldio-z9cy8631gyp > div:nth-child(4) {
    transform: rotate(135deg);
    transform-origin: 29px 71px;
  }.ldio-z9cy8631gyp div:nth-child(5) > div {
    left: 14px;
    top: 44px;
    animation-delay: -0.6355932203389831s;
  }
  .ldio-z9cy8631gyp > div:nth-child(5) {
    transform: rotate(180deg);
    transform-origin: 20px 50px;
  }.ldio-z9cy8631gyp div:nth-child(6) > div {
    left: 23px;
    top: 23px;
    animation-delay: -0.42372881355932207s;
  }
  .ldio-z9cy8631gyp > div:nth-child(6) {
    transform: rotate(225deg);
    transform-origin: 29px 29px;
  }.ldio-z9cy8631gyp div:nth-child(7) > div {
    left: 44px;
    top: 14px;
    animation-delay: -0.21186440677966104s;
  }
  .ldio-z9cy8631gyp > div:nth-child(7) {
    transform: rotate(270deg);
    transform-origin: 50px 20px;
  }.ldio-z9cy8631gyp div:nth-child(8) > div {
    left: 65px;
    top: 23px;
    animation-delay: 0s;
  }
  .ldio-z9cy8631gyp > div:nth-child(8) {
    transform: rotate(315deg);
    transform-origin: 71px 29px;
  }
  .loadingio-spinner-spin-dyej6j5h7gp {
    width: 54px;
    height: 54px;
    display: inline-block;
    overflow: hidden;
    background: none;
  }
  .ldio-z9cy8631gyp {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.54);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-z9cy8631gyp div { box-sizing: content-box; }